@charset "UTF-8";
/* CSS Document */

body{
	 background-color: rgb(255,2555,255);
	 margin: 0;
}
	
.header{
 		background-color: black;
 		width: 1920px;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.flex-container-1{
 				  background-color: rgb(194,191,191);
				  width: 1920px;
}

.flex-container-2{
				  background-color: black;
				  width: 1920px;
}

nav{
	width:100%;
	text-align: center;
	flex-direction:row;
}

nav ul{
	   list-style-type: none;
	   margin: 0;
	   padding: 0;
}

nav li{
	   display:inline;
}

.container-1{
			 display:flex;  
			 justify-content:center;
			 flex-direction:row;
}
  
.container-1 div{
				 border:1px #ccc solid;
				 padding-top: 20px;
				 padding-right: 192px;
				 padding-bottom: 35.8px;
				 padding-left: 192px;
}
  
h1{
   font-weight: 500;
   text-align: center;
   line-height: 50%
}

p{	
  font-size: 28px;
  text-align:center;
  line-height: 170%; 
}

footer{
	   font-size: 18px;
	   text-align: center;
	   line-height: 100%;
}

nav a:link {
			font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
			color:rgb(255,255,255);
			text-decoration: none;
			margin-right: 20px;
}

nav a:visited{
			  color:rgb(255,255,255);
}

nav a:hover {
			 color:rgb(255,255,255);
}

nav a:active{

}