@charset "UTF-8";
/* CSS Document */

body{
	 background-color: rgb(255,2555,255);
	 margin: 0;
}
	

.flex-container-1 {
 background-color: black;
 width: 1920px;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container-2 {
 background-color: rgb(194,191,191);
 width: 1920px;

}

.flex-container-3 {
 background-color: black;
 width: 1920px;
	
}

nav{
	width:100%;
	text-align: center;
	
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
	
}

nav li{
	display:inline;
	
}

img {
  flex: center;
  margin-left: auto;
  margin-right: auto;
  
}


    .container-1{
      display:flex;  
      justify-content:center;
	  flex-direction:row;
    }
  
  .container-1 div{
    border:1px #ccc solid;
    padding:10px;
  }
  
  .container-1-box{
    flex-basis: 59.5%;  
  }
  
h1 {
	font-weight: 500;
	text-align:center;
	line-height: 50%;
	
}

p {	
	font-size: 20px;
	text-align:center;
	line-height: 100%; 
}

footer{
	text-align: center;
	line-height: 90%;
	
}